.banner {
    background-image: url("https://img.freepik.com/free-vector/flat-design-shopping-center-facebook-cover_23-2149337410.jpg?t=st=1714509193~exp=1714512793~hmac=0ca2c87f54c45539ac2739f4b1424e8307f56bf661732f67d52bc898232904b0&w=1060");
    background-size: cover;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    font-size: 24px;
}