.banner {
    background-image: url("https://m.media-amazon.com/images/I/91Xkelr8IkL._SX3000_.jpg");
    background-size: cover;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    font-size: 24px;
}