.custom-btn {
    background-color: #54a4f3;
    /* Coral color */
    color: #ffffff;
    /* White text */
}

/* Style for the button on hover */
.custom-btn:hover {
    background-color: #83bef9;
    color: #ffffff;
    /* Darker coral color */
}

.custom-danger-btn {
    background-color: #f22323;
    /* Coral color */
    color: #ffffff;
    /* White text */
}

/* Style for the button on hover */
.custom-danger-btn:hover {
    background-color: #f64545;
    color: #ffffff;
    /* Darker coral color */
}