.custom-btn {
    background-color: #54a4f3;
    /* Coral color */
    color: #ffffff;
    /* White text */
}

/* Style for the button on hover */
.custom-btn:hover {
    background-color: #83bef9;
    color: #ffffff;
    /* Darker coral color */
}

/* for search button */

.search-btn {
    width: 130px;
}